/* Main Body Styling */

.parallax-container {
      height: 130px;
    }

a {
	color: white;
}

h4 {
  color: #34a0a3;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.responsive-img {
  margin-left: auto;
  margin-top: 30px;
}

.portfolio-title-item {
  width: 200px;
  margin-top: -35px;
}

.title-words {
  color: #111;
  text-align: center;
  background-color: #c9b33c;
  position: sticky;
  padding: 3px 10px 3px 10px;
  font-family: Consolas;
}

.x-large {
  font-size: x-large;
  padding-left: 60px;
  font-weight: bold;
}

#sub-btn {
  margin-right: 11px;
  background-color: #7e57c2;
}

.card-title {
  font-family: 'Homemade Apple', cursive;
}

.fa-3x {
  color: #212121;
}

.card {
  margin: -56px -200px 0 58px;
}

/* Begin footer styling */

.page-footer {
	background-color: #c3492c;
	text-align: center;
	bottom: 0;
  z-index: 4;
  position: sticky;
}

#signature,
.my-name {
	font-family: 'Homemade Apple', cursive;
}